body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.canvas {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(var(--pixels), 1fr);
  grid-template-rows: repeat(var(--pixels), 1fr);
  border: solid black 5px;
}

.input-size {
  font-size: xx-large;
  padding: 10px;
}