body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.canvas {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.canvas-pixel {
  border: 1px solid black;
  box-sizing: border-box;
}

.input-size {
  font-size: xx-large;
  padding: 10px;
}